<h1>Admin</h1>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
</html>

<%= simple_form_for :search, method: :get do |f| %>
	<div class="row">
		<div class="col-md-4">
			<%= f.input :date_query, input_html:{class: 'datepicker'}%>
		</div>
	</div>
	<%= f.submit "SEARCH" %>
	<% end %>
	<br>
	<br>

<div class="card">
	<table class="table table-bordered table-responsive-md table-striped text-center">
		<thead>
			<tr>
				<th class="text-center">No</th>
				<th class="text-center">Date</th>
				<th class="text-center">Name</th>
				<th class="text-center">Total Claim (RM)</th>
				<th class="text-center">Status</th>
				<th class="text-center">Action</th>	
			</tr>
		</thead>
		<tbody>
		<%- @user_monthly_approvals.where("status like 'Submitted' or status like 'Accepted' ").each_with_index do |uma,idx| %>
			<tr>
				<td>
					<%= idx+1 %>
				</td>
				<td><%= uma.created.strftime("%B %Y") %></td>
				<td><%= uma.staff.name %></td>
				<td><%= number_to_currency(uma.grand_total,unit: "RM") %></td>
				<td><%= uma.status %></td>
				<td><%= link_to 'CHECK', user_monthly_approval_path(uma) ,class: "btn"%></td>
			</tr>
			<% end %>
		</tbody>
						
	</table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>